body
{
    background-color: rgba(61, 44, 136, 0.514);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://via.placeholder.com/2992x3992/00ccff.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header
{
    background-image: url('https://via.placeholder.com/1920x328/4700b3.png?text=Header');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

#logo-container
{
    padding-top: 20px;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    border-radius: 20%;
    padding: 5px;
    min-width: 200px;
    min-height: 200px;
}

#title
{
    text-align: center;
    font-size: 230%;
    font-family: 'Krona One', sans-serif;
    color: chartreuse;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#sections
{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding-bottom: 20px;
}

.section
{
    width: 150px;
    height: 25px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(153, 12, 218, 0.459);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: #7fff00;
}

.section:hover
{
    background-color: rgba(153, 12, 218, 2);
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    align-content: center;
    background-color: black;
    border-radius: 20px;
    max-width: 90%;
}

.contact-sections
{
    display: flex;
    justify-content: space-evenly;
    min-height: 200px;
}

#sections-contact
{
    display: flex;
    height: 50px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

#sections-contact img
{
visibility: hidden;
border-radius: 20px;
position: fixed;
width: 200px;
height: 300px;
background-color: black;
}

#i1
{
    margin-top: 5%;
    margin-left: 65px;
}

#i2
{
    margin-top: 5%;
    margin-left: -40px;
}

#i3
{
    margin-top: 5%;
    margin-left: -150px;
}

#b1, #b2, #b3{
    border-radius: 20px;
    background-color: rgb(102, 255, 0);
    color: rgb(153, 12, 218);
    border: 4px solid rgb(153, 12, 218);
    width: 100%;
    font-size: 90%;
    font-family: 'Krona One', sans-serif;
}

#b1:hover{
    background-color: rgb(255, 208, 0);
}

#b2:hover{
    background-color: rgb(255, 208, 0);
}

#b3:hover{
    background-color: rgb(255, 208, 0);
}

footer
{   
    padding-bottom: 20px;
    background-image: url('https://via.placeholder.com/1920x623/ffbf80.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin-top: 20px;
}

.footer-containers
{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

#Author
{
    background-color: black;
    margin: auto;
    font-size: 150%;
    color: gold;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
}
